<div>
    <h1 class='txt-align' *ngIf="!isEdit">{{addDetailLable}}</h1>
    <h1 class='txt-align' *ngIf="isEdit">{{editDetailLable}}</h1>
    <div>

        <form [formGroup]="form" (ngSubmit)="submitDetail()">

            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <label for="policyStartDate">{{policyStartDateLable}}</label>
                    <input type="date" formControlName="policyStartDate" class="form-control"
                        value="{{ startDate | date:'yyyy-MM-dd' }}"
                        [ngClass]="{ 'is-invalid': submitted && (f.policyStartDate.errors || dateError['isGreater']) }" />
                    <div *ngIf="submitted && f.policyStartDate.errors" class="invalid-feedback">
                        <div *ngIf="f.policyStartDate.errors.required">{{startDateRequiredLable}}</div>
                    </div>
                    <div *ngIf="submitted && !(f.policyStartDate.errors  && f.policyStartDate.errors.required)"
                        class="invalid-feedback">
                        <div *ngIf="dateError['isGreater']">{{dateCompareLAble}}</div>
                    </div>
                </div>
                <div class="form-group col"></div>
                <div class="form-group col">
                    <label for="policyDescription">{{policyDescriptionLable}}</label>
                    <textarea formControlName="policyDescription" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.policyDescription.errors }" rows="2"
                        maxlength="50"></textarea>

                </div>
                <div class="form-group col"></div>

            </div>

            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <label for="policyEndDate">{{policyEndDateLable}}</label>
                    <input type="date" formControlName="policyEndDate" class="form-control"
                        value="{{ endDate | date:'yyyy-MM-dd' }}"
                        [ngClass]="{ 'is-invalid': submitted && (f.policyEndDate.errors || dateError['isGreater'])}" />
                    <div *ngIf="submitted && f.policyEndDate.errors " class="invalid-feedback">
                        <div *ngIf="f.policyEndDate.errors?.required">{{endDateRequiredLable}}</div>
                    </div>
                    <div *ngIf="submitted && (f.policyStartDate.errors == null  || !f.policyStartDate.errors?.required)"
                        class="invalid-feedback">
                        <div *ngIf="dateError['isGreater']">{{dateCompareLAble}}</div>
                    </div>


                </div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>

            </div>

            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <br>
                    <label for="customerFirstName">{{customerFirstNameLable}}</label>
                    <input type="text" formControlName="customerFirstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.customerFirstName.errors }" />
                    <div *ngIf="submitted && f.customerFirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.customerFirstName.errors.required">{{firstNameRequiredLable}}</div>
                    </div>
                </div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>


            </div>
            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <br>
                    <label for="customerSurname">{{customerSurnameLable}}</label>
                    <input type="text" formControlName="customerSurname" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.customerSurname.errors }" />
                    <div *ngIf="submitted && f.customerSurname.errors" class="invalid-feedback">
                        <div *ngIf="f.customerSurname.errors.required">{{surnameRequiredLable}}</div>
                    </div>

                </div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
            </div>
            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <br>
                    <label for="customerDateOfBirth">{{customerDateOfBirthLable}}</label>
                    <input type="date" formControlName="customerDateOfBirth" class="form-control"
                        value="{{ customer_DOB | date:'yyyy-MM-dd' }}"
                        [ngClass]="{ 'is-invalid': submitted && f.customerDateOfBirth.errors }" />
                    <div *ngIf="submitted && f.customerDateOfBirth.errors" class="invalid-feedback">
                        <div *ngIf="f.customerDateOfBirth.errors.required">{{dateOfBirthRequiredLable}}</div>
                    </div>
                </div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
            </div>

            <div class="form-row">
                <div class="form-group col"></div>
                <div class="form-group col">
                    <br>

                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Save
                    </button>
                    <a (click)="goToBack()" class="btn btn-link">Cancel</a>

                </div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
                <div class="form-group col"></div>
            </div>



        </form>
    </div>
</div>
<router-outlet></router-outlet>